.sclrollbar {
  -ms-overflow-style: none; /* Убирает полосу прокрутки для IE и Edge */
    scrollbar-width: none; /* Убирает полосу прокрутки для Firefox */
}

.sclrollbar::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и других WebKit-браузеров */
}
