.sclrollbar {
  overflow-x: auto; /* Используйте auto для появления полосы прокрутки только при необходимости */
  -ms-overflow-style: none; /* Для IE и Edge */
  scrollbar-width: none; /* Для Firefox */
}

.sclrollbar::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и других WebKit-браузеров */
}
